<!doctype html>
<html>
    <head>
        <title>Main</title>
    </head>

    <body>
        <ul>
            <li>CPA Students</li>
            <li>All Students</li>
            <li>Add A New Student</li>
            <li>Note: Loate specific student by student Id, e.g., http://localhost:8080/student/3</li>
            <li>Highest GPA</li>
            <li>Home</li>
        </ul>
    </body>
</html>